@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');


h1{
  font-family: 'Barriecito', cursive;
  font-size: 32px;
  background-color: white;
  margin: 0 auto;
}


.barra {
  width: 600px;
  height: 24px;
  background: whitesmoke;
  border-color: black; 
  margin: 24px 0;
}

.preenchimento {
  width: 0;
  height: 100%;
  border-color: black; 
}

output{
  background-color: whitesmoke;
  color: black;
  font-weight: bold;
  font-size: 18;
}